<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <title>ChatRoom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="tip">
        <h4 style="text-align: center" id="username_place">Welcome <span><%- user.name %></span> to the chat room, start chatting! </h4>
        <div>
            <p style="text-align: center">Date/Time: <span id="datetime"></span></p>
        </div>
        <script>
            var dt = new Date();
            document.getElementById("datetime").innerHTML = dt.toLocaleString();
        </script>
        <p style="text-align: right"><i class='fas fa-chevron-right'></i>
            You can <a href="/">logoff</a> here
            <i class='fas fa-chevron-left'></i>
        </p>

    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <!-- User List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-pushpin"></span> &nbsp; Online Users
                    </div>
                    <div class="panel-body user-list-body">
                        <table class="table user-list">
                        </table>
                    </div>
                    <div class="panel-footer" id="list-count">
                    <!-- Online people: num of people-->
                    </div>
                </div>
            </div>
        
            <!-- Chat Message -->
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-leaf"></span> Chat  &#127378;
                        <button class="history-btn" id="history-btn" onclick="showChatHistory()">Show History 
                            <i class="fa fa-clock-o" style="font-size:20px"></i>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="message-history"></div>
                        <div class="message-list"></div>
                    </div>
                </div>

                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" id="msgIn" placeholder="Enter Message Here...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" onclick="sendMessage()">Send Message
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </button>
                        <!-- <script>
                            function sendMessage() {
                                alert("button was clicked");
                            }
                        </script> -->
                    </span>
                </div>
            </div>
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/client.js"></script>
</body>
</html>
