<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      a {
        margin-left: 20px; 
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      h1 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Chat Room</h1>
    <p>Welcome to chat room</p>
    <p><a href="/login">Login </a>
       <a href="/register">Register</a>
    </p>
  </body>
</html>
