body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#username_place span{ 
	color: blue; 
	font-weight: bold;
}

.list-body{
	position: relative;
	height: 500px;
	overflow-y: scroll;
}

.user-list td:hover{
	cursor: pointer;
}

.msg-list{
	position: relative;
	height: 460px;
	overflow-y: scroll;
}

.chat-list td{
	word-wrap:break-word;
	word-break:break-all;
}

.msg-name, .msg-time{ 
	color: blue;
}

.msg-name{
	cursor: pointer;
}

.msg-wrap{
	margin-bottom: 8px;
}

.msg-content{ 
	padding: 5px;
	text-indent: 5em;
	width: 90%;
	word-wrap: break-word;
	word-break:break-all;
	line-height: 25px;
}

.msg-system{ 
	background-color: #dbd9c9; 
	padding: 3px;
	width: 60%;
	min-width: 400px;
	border: 3px solid #999;
	border-radius: 10px;
	color: #e16b55;
}

.msg-welcome{
	background-color: #dbd9c9;
	padding: 3px; 
	width: 60%;
	min-width: 400px;
	border: 3px solid #999;
	border-radius: 10px;
	color: #e16b55;
}