body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#username_place span{ 
	color: blue; 
	font-weight: bold;
}

.user-list-body{
	position: relative;
	height: 500px;
	overflow-y: scroll;
}

.user-list td{
  font-weight: bold;
  /* border: 1px solid royalblue; */
  /* background-color: skyblue; */
  text-align: center;
}

#history-btn {
  float: right;
  padding: 2px;
  border: 0px;
}

.message-list{
	position: relative;
	height: 460px;
	overflow-y: scroll;
}

.message-time{ 
  color: black;
  text-align: center;
  opacity: 0.5;
  /* background-color: lightgray; */
}

.message-name{
  width: 0%;
  color: black;
  cursor: pointer;
  float: left;
  font-weight: bold;
}

.message-wrap{
	margin-bottom: 8px;
}

.message-container {
  margin-top: auto;
  margin-bottom: 10px;
  /* border-radius: 25px; */
  /* background-color: rgb(96.1%, 96.1%, 86.3%); */
  padding: 3px;
  position: relative;
}

.message-info {
  text-indent: 2em;
}

.message-content{ 
	padding: 3px;
  text-indent: 5em;
  width: 100%;
  line-height: 25px;
  background-color: lightgray;
  border-radius: 25px 25px 25px 0px;
}

.message-system{ 
	background-color: #dbd9c9; 
	padding: 3px;
	width: 60%;
	min-width: 400px;
	border: 3px solid #999;
	border-radius: 10px;
	color: black;
}

.message-welcome{
	padding: 5px; 
	width: 60%;
  min-width: 400px;
	border-radius: 10px;
  color: lightgray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-weight: bold;
}

.history-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.history-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.history-btn:hover span {
  padding-right: 25px;
}

.history-btn:hover span:after {
  opacity: 1;
  right: 0;
}
